<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
      <li class = "nav-item">
        <%= image_tag current_user.avatar.url(:thumb), class: 'rounded-circle'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Home', books_path, class: 'nav-link'%>
      </li>

      <li class="nav-item">
        <%= link_to 'My Cart', cart_path, class: 'nav-link'%>
      </li>

      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'%>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to 'Home', books_path, class: 'nav-link'%>
      </li>

      <li class="nav-item">
        <%= link_to 'Login', new_user_session_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'or Register', new_user_registration_path, class: 'nav-link'%>
      </li>
      <% end %>
    </ul>
    <% if current_user %>
      <p>Welcome, <%= current_user.email %>!</p>
      <% if current_order %>
        <p><%= number_to_currency current_order.total_price %></p>
      <%end%>
    <% end %>
  </div>
</nav>
