<!-- <% @books.each do |book| %>
<p><%= book.title %></p>
<% end %> -->

<% @books.each do |book| %>
  <p><%= book.title %> | <%= number_to_currency book.price %>
  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :book_id, value: book.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "Add to cart" %>
  <% end %></p>
<% end %>
